[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vidstream = "*"
requests = "*"
tk = "*"
pipwin = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.9"
